<form [formGroup]="itenaryForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="form-group">
        <input type="hidden" class="form-control" id="travelItineraryId" formControlName="travelItineraryId">
      </div>
      <fieldset>
        <legend>Travel Dates</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-success' :itenaryForm.controls['departureDate'].valid,
              'has-error' : itenaryForm.controls['departureDate'].invalid && itenaryForm.controls['departureDate'].touched }">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="departureDate" placeholder="Departure Date"
                formControlName="departureDate">
              <span id="departureHelpBlock1" class="help-block" *ngIf="itenaryForm.controls['departureDate'].invalid 
                     && itenaryForm.controls['departureDate'].touched
                     && itenaryForm.controls['departureDate'].hasError('required')"> Departure date is required.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-success' :itenaryForm.controls['returnDate'].valid,
              'has-error' : itenaryForm.controls['returnDate'].invalid && itenaryForm.controls['returnDate'].touched }">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="returnDate" placeholder="Return Date"
                formControlName="returnDate">
              <span id="returnHelpBlock1" class="help-block" *ngIf="itenaryForm.controls['returnDate'].invalid 
                    && itenaryForm.controls['returnDate'].touched
                    && itenaryForm.controls['returnDate'].hasError('required')"> Return date is required.</span>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Card Numbers</legend>
        <div class="form-group" [ngClass]="{ 'has-success':itenaryForm.controls['selectedCardNumber'].valid,
        'has-error' : itenaryForm.controls['selectedCardNumber'].invalid && itenaryForm.controls['selectedCardNumber'].touched }">

          <select formControlName="selectedCardNumber" class="form-control" style="width:300px">
                 <option value="">Select a card</option>
                 <option *ngFor="let account of accountNumbers" [value]="account.cardAccountNumber" [selected]= "account.isSelected" >{{account.cardAccountNumber}}</option>
          </select>
          <span id="returnHelpBlock1" class="help-block" *ngIf="itenaryForm.controls['selectedCardNumber'].invalid 
               && itenaryForm.controls['selectedCardNumber'].touched
               && itenaryForm.controls['selectedCardNumber'].hasError('required')"> Card selection is required.</span>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <div class="col-md-9">
            <legend>Destinations </legend>
          </div>
          <div class="col-md-3 text-center" style="margin-top:14px;">
            <button type="button" class="btn btn-sm btn-default" (click)="onAddDestination()" style="color:green"><span class="fa fa-plus"></span> Add Destination </button>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-12" formArrayName="destinations">
            <div class="row" *ngFor="let destinationCtrl of itenaryForm.get('destinations').controls;let i = index" [formGroupName]="i">
              <div class="col-md-5 form-group" [ngClass]="{ 'has-success': destinationCtrl.get('state').valid,
                                                            'has-error'  : destinationCtrl.get('state').invalid && destinationCtrl.get('state').touched }">
                <select type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                        <option value="">Choose a state</option>
                        <option *ngFor="let state of states"  [ngValue]="state.code">{{state.description}}</option>
              </select>
                <span id="stateBlock1" class="help-block" *ngIf="destinationCtrl.get('state').invalid 
                                                  &&  destinationCtrl.get('state').touched
                                                  &&  destinationCtrl.get('state').hasError('required')"> State is required.</span>
              </div>
              <div class="col-md-5 form-group" [ngClass]="{ 'has-success': destinationCtrl.get('country').valid,
                                                            'has-error'  : destinationCtrl.get('country').invalid && destinationCtrl.get('country').touched }">
                <select type="text" class="form-control" id="country" placeholder="Country" formControlName="country">
                      <option value="">Choose a Country</option>
                      <option *ngFor="let country of countries"  [ngValue]="country.code">{{country.description}}</option>
            </select>
                <span id="countryBlock1" class="help-block" *ngIf="destinationCtrl.get('country').invalid 
                                                &&  destinationCtrl.get('country').touched
                                                &&  destinationCtrl.get('country').hasError('required')"> Country is required.</span>
              </div>
              <div class="col-md-2">
                <button type="button" (click)="onDeleteDestination(i)" style="margin-top:3px;margin-left:-10px" class="btn btn-danger btn-sm"
                  id="delDest"><span class="fa fa-trash"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="itenaryForm.get('destinations').controls.length == 0">
          <div class="col-md-12 form-group has-error">
            <span id="stateBlock1" class="help-block" *ngIf="itenaryForm.get('destinations').controls.length == 0"> Atleast one destination needed.</span>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="form-group">
      <div class="col-md-3" *ngIf = "!isSavingData">
        <button type="submit" [disabled]="!itenaryForm.valid" class="btn btn-block btn-success">Save</button>
      </div>
      <div class="col-md-3" *ngIf = "isSavingData">
          <button type="submit" disabled = "true" class="btn btn-block btn-success"> <span class="fa fa-spinner fa-pulse"></span> Saving..</button>
        </div>
      <div class="col-md-3">
        <button type="button" (click)="showItenaryForm(false)" class="btn btn-block btn-warning">Cancel</button>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</form>
