<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
        <span class="fa fa-credit-card-alt fa-3x"></span>
      </div>
      <div class="col-xs-9 text-right">
        <div style=" font-size: 20px">
          Card {{cardName}}
        </div>
        <div>
          {{account.cardAccountNumber}}
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
  </div>
</div>
