<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <tabset [justified]="true">
        <tab>
          <ng-template tabHeading>
            <h5><span class="fa fa-plane"></span> Manage Itineraries</h5>
          </ng-template>
          <list-itenaries *ngIf="!smartDataService.isLoadingUserInfo"></list-itenaries>
        </tab>
        <tab>
          <ng-template tabHeading>
            <h5><span class="fa fa-credit-card"></span> Manage Cards</h5>    
          </ng-template>
          <app-list-accounts *ngIf = "smartDataService.user"></app-list-accounts>
        </tab>
      </tabset>
    </div>
  </div>
</div>
