/* You can add global styles to this file, and also import other style files */

.web-background {
  background: #F2F2F2;
  background: -webkit-linear-gradient(to left, #F2F2F2, #FFFFFF);
  background: -o-linear-gradient(to left, #F2F2F2, #FFFFFF)
}

.border-shadow {
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
}
